<h1>Editing Customer</h1>

<form method="post" action="/CustomerEdited">
  Person Number: {{ personArray.person_number }}<p> 
  <input type="hidden"  name="custId" value={{ personArray.person_number }}>
  Name: <input type="text" name="edit-name" placeholder={{personArray.name}}><p>
  Address: <input type="text" name="edit-address" placeholder={{personArray.address}}><p>
  Postal Address: <input type="text" name="edit-postal-address" placeholder={{personArray.postal_address}}><p>
  Phone Number: <input type="text" name="edit-phone-number" placeholder={{personArray.phone_number}}><p>
  <input type="submit" value="Submit">
</form>


<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>