<h1>Editing Car</h1>

<form method="post" action="/CarEdited">
  Registration Number: {{ carArray.registration_number }}<p> 
  <input type="hidden"  name="carId" value={{ carArray.registration_number }}>
  Make: <input type="text" name="edit-make" placeholder={{carArray.make}}><p>
  Color: <input type="text" name="edit-color" placeholder={{carArray.color}}><p>
  Year: <input type="text" name="edit-year"placeholder={{carArray.year}}><p>
  Price /hour: <input type="text" name="edit-price"placeholder={{carArray.price}}><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>